@charset "UTF-8";

div {
    display: block;
}

.wrapper{
	width: 1420px;
    margin: 0 auto;
 	margin-top: 10px;   
}

.main-wrap{
	width: 1120px;
    float: left;
}

.main-col-wrap {
    width: 900px;
    position: relative;
    float: right;
}

.sub-col-wrap {
    width: 220px;
    float: left;
}

.sub-wrap{
	width: 300px;
    float: left;
}
