<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.solproject.animalcrossing.member.MemberVo" alias="memberVo" />
		<typeAlias type="com.solproject.animalcrossing.board.BoardVo" alias="boardVo" />
		<typeAlias type="com.solproject.animalcrossing.board.CommentVo" alias="commentVo" />
		<typeAlias type="com.solproject.animalcrossing.board.Paging" alias="paging" />
	</typeAliases>
</configuration>
