<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>           
	     <setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.solproject.animalcrossing.member.MemberVo" alias="memberVo" />
		<typeAlias type="com.solproject.animalcrossing.board.BoardVo" alias="boardVo" />
		<typeAlias type="com.solproject.animalcrossing.board.CommentVo" alias="commentVo" />
		<typeAlias type="com.solproject.animalcrossing.board.BlikeVo" alias="blikeVo" />
		<typeAlias type="com.solproject.animalcrossing.board.ClikeVo" alias="clikeVo" />
		<typeAlias type="com.solproject.animalcrossing.board.Paging" alias="paging" />
		<typeAlias type="com.solproject.animalcrossing.qboard.QBoardVo" alias="qboardVo" />
		<typeAlias type="com.solproject.animalcrossing.qlike.QlikeVo" alias="qlikeVo" />
		<typeAlias type="com.solproject.animalcrossing.answer.AnswerVo" alias="answerVo" />
		<typeAlias type="com.solproject.animalcrossing.alike.AlikeVo" alias="alikeVo" />
		<typeAlias type="com.solproject.animalcrossing.util.SearchHelper" alias="searchHelper" />
		<typeAlias type="com.solproject.animalcrossing.util.SearchPaging" alias="searchPaging" />
		
	</typeAliases>
</configuration>
