<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solproject.animalcrossing.mapper.Clike_Mapper">

	<insert id="likeup" parameterType="clikeVo">
		INSERT INTO 
		CLIKE(CNO, CLIKER) 
		VALUES(#{cno}, #{cliker})
	</insert>
	
	<select id="getlike" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM CLIKE WHERE CNO = #{cno}
	</select>
	
	<select id="checkAllike" parameterType="clikeVo" resultType="int">
		SELECT COUNT(*) FROM CLIKE WHERE CLIKER = #{cliker} AND CNO = #{cno}
	</select>
	
	<delete id="likeDown" parameterType="clikeVo">
		DELETE FROM CLIKE WHERE CNO = #{cno} AND CLIKER = #{cliker} 
	</delete>
	
</mapper>