<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solproject.animalcrossing.mapper.QBoard_Mapper">
	<insert id="writeQBoard" parameterType="qboardVo">
		INSERT INTO 
		QBOARD(QBNO, QBTITLE, QBCONTENT, QBWRITER, QREGDATE) 
		VALUES(QBOARD_SEQ.NEXTVAL, #{qbtitle}, #{qbcontent}, #{qbwriter}, SYSDATE)
	</insert>
</mapper>